# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# Parcel related files
dist/
.cache/

# Cache
public/.cache

# Dist
public/dist


# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
public/.cache
public/.cache/
public/dist/ 
public/dist



# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
**/node_modules
# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Cache for Parcel
.cache
.parcel-cache/*


# Apple stuff
.DS_Store
