# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# Cache
public/.cache

# Dist
public/dist


# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
public/.cache
public/.cache/
public/dist/
public/dist
public/.cache/05/34befc9e2c63682f8e5470b332259d.json
public/.cache/09/60f25835664ad8a55f463b8a85c764.json
public/.cache/0c/8059e707600f2513f168f993f1d5f0.json
public/.cache/0e/81cdeeaa8005e45574ce3ba9f4df5b.json
public/.cache/30/1e0552b0f1308d364e1f47455d6b18.json
public/.cache/3f/64abbc1c7ba3c1f7afdc247c991c4a.json
public/.cache/49/1e9a2c9f89bafefd1467e14fe57f6f.json
public/.cache/8c/064a5d1c1db798ff60afebc53ac0c6.json
public/.cache/9f/07c76b67043a61dc3b0ada5ce1aafc.json
public/.cache/eb/4a9b27197f1851a877fb9c29a1bc95.json
public/.cache/fc/d3da29ff63748a82a476d8f5c478bd.json
public/dist/js.00a46daa.js
public/.cache/fb/3f0188985d0e6bf6e3acac87bd6652.json
public/dist/style.e0c02e61.jss
