* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-list {
    height: 10vh;
}

.nav-links {
    text-decoration: none;
}

.home,
.skills,
.projects{
    position: absolute;
    width: 100%;
}

// .home-content,
// .skills-content  {
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
// }

.home {
    background-color: white;
    }

.skills {
    background-color:white;
    }
    
.projects {
    background-color:white;
    }

.blur {
    filter: blur(3px);  
}
    
html {
    scroll-behavior: smooth;
  }