* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
html {
    scroll-behavior: smooth;
  }
  
.nav-list {
    height: 10vh;
}

.nav-links {
    text-decoration: none;
}

.home,
.skills,
.projects,
.contact {
    position: absolute;
    width: 100%;
    background-color:white;
}

.blur {
    filter: blur(3px);  
}

.open-sans {
font-family: 'Open Sans', sans-serif;
}
.playfair {
font-family: 'Playfair Display', serif;
}
.roboto {
font-family: 'Roboto Slab', serif;
}
.tiweb {
font-family: 'Titillium Web', sans-serif;
}

.margin-contact {
    margin-left: 510px; 
}
.margin-projects {
    margin-left: 346px; 
}
.margin-skills {
    margin-left: 200px; 
}
.margin-about {
    margin-left: 63px;
}
