* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-list {
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.nav-links {
    text-decoration: none;
}

.home,
.about{
    height: 90vh;
    position: absolute;
    width: 100%;
}

.home-content,
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    }

.about {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    }



